@font-face {
  font-family: 'Pokemon Hollow';
  src: url('fonts/Pokemon\ Hollow.ttf') format('truetype');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

/*****************LAYOUT*****************/

html {
    
    font-size: 62.5%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    background-image: url(images/maple-mushroom.jpg);
    width:100%;
    height:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    min-width: 400px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    gap: 2em;

    position: absolute;
    top: 0;
    right: 50;
}

.tracker {
    width: 70%;
    min-width: 400px;
    max-width: 650px;
    padding: 5em 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

.timer-display {
    margin: 1em auto;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.timer-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
/****************************************/



/**************NAVBARS*******/
.contributors-list, .link-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 250px;
    position: fixed;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 5em 1em;
    color: #f441a5;
    z-index: 3;
}

.link-list {
    right: auto;
    left: 0;
    top: 0;
}

h4 {
    width: 100%;
    color: #f441a5;
    font-size: 1.5em;
    margin: 1em auto;
    text-align: center;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em auto;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    margin: 0 auto;
    text-align: center;
}

ul {
    text-decoration: none;
    list-style: none;
}

.change {
    /* transform: translateY(-100%); */
    opacity: 0;
    transition: 0.5s;
    display: none;
}

.hide-left, .hide-right {
    width: 50px;
    z-index: 5;
    padding: 0.5em 0;
    background: transparent;
}

.hide-left {
  position: fixed;
  top: 0;
  left: 1%;
}

.hide-right {
  position: fixed;
  top: 0;
  right: 1%;
}

/***BRANDON'S BUTTON ADDITIONS***/
#nav-icon1, #nav-icon2 {
  width: 50px;
  height: 45px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span, #nav-icon2 span {
  display: block;
  position: absolute;
  height: 9px;
  width: 60%;
  background: radial-gradient(circle, rgba(242,224,188,1) 0%, rgba(255,150,58,1) 100%);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1), #nav-icon2 span:nth-child(1) {
  top: 18px;
  left: 0px;
  transform: rotate(40deg);

}

#nav-icon1 span:nth-child(2), #nav-icon2 span:nth-child(2) {
  top: 18px;
  left: 18px;
  transform: rotate(140deg);

}

#nav-icon1.open span:nth-child(1), #nav-icon2.open span:nth-child(1) {
  width: 45px;
  left: 2px;
  transform: rotate(225deg);
}

#nav-icon1.open span:nth-child(2), #nav-icon2.open span:nth-child(2) {
  width: 45px;
  left: 2px;
  transform: rotate(-45deg);
}

/**********INDIVIDUAL STYLES***************/

.title {
  font-family: 'Pokemon Hollow', 'Ubuntu', sans-serif;
  letter-spacing: 0.7rem;
  font-size: 6rem;
}

h2 {
    margin-top: 10%;
    font-size: 5rem;
    color: white;
}

h3 {
    width: 100%;
    font-size: 3rem;
    color: white;
    margin: 1em auto;
    text-align: center;
}

button {
    position: relative;
    padding: 2em 0.5em;
    width: 10rem;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: black;
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s;
    margin: 0.5em;
    z-index: 5;
   
  }

  #start {
    color: green;
    z-index: 5;
  }

  #pause {
    color: red;
    z-index: 5;
  }

  #break {
    color: aqua;
    z-index: 5;
  }

  #plus {
    color: blue;
    white-space: nowrap;
    z-index: 5;
  }

  #finish {
    color: #f441a5;
    z-index: 5;
  }

  #reset {
    color: rgb(82, 13, 151);
    font-weight: bold;
    z-index: 5;
  }

  .category-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 1em;
  }

  .category>h2{
    color: #f441a5;
  }


/***********PSUEDO STYLES*****************/
  

  button:hover{
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    z-index: 1;
    animation: glow 8s linear infinite;
  }
 
  button:before{
    content: '';
    position: absolute;
    background: inherit;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    border-radius: 50px;
    filter: blur(20px);
    opacity: 0;
    transition: opacity 0.5s;
  }

  a:hover {
    color: #f441a5;
    transition: 0.7s;
  }

  @keyframes glow {
    0%{
      background-position: 0%;
    }
    100%{
      background-position: 400%;
    }
  }

/***********MEDIA QUERIES*******************/

@media screen and (max-width: 1200px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        background-image: url(images/maple-mushroom01.png);
        width:100%;
        height:100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment:fixed;
    }


    h2 {
        margin-top: 20%;
        font-size: 5rem;
        color: white;
    }
}
@media screen and (max-width: 980px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        background-image: url(images/maple-mushroom01.png);
        width:100%;
        height:100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment:fixed;
    }

    h2 {
        margin-top: 20%;
        font-size: 5rem;
        color: white;
    }

    .contributors-list, .link-list {
      opacity: 0;
      display: none;
    }

    .hide-left {
        position: fixed;
        top: 0;
        left: 65px;
        z-index: 5;
        padding: 0.5em 0;
        opacity: 0;
        display: none;

    }
    
    .hide-right {
        position: fixed;
        top: 0;
        right: 65px;
        z-index: 5;
        padding: 0.5em 0;
        opacity: 0;
        display: none;
       
    }
  }     


  @media screen and (max-width: 600px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        background-image: url(images/maple-mushroom02.png);
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment:fixed;
    }

    main {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 500px;
        z-index: 11;
    }

    h2 {
        margin-top: 20%;
        font-size: 5rem;
        color: white;
    }
  } 

/*********PARTICLE JS***********/

canvas.particles-js-canvas-el {
  z-index: 1;
}

